$link: #732c1d;
$font-color: #260101;
$content_background: #ebeff2;
$tan: #a69677;
$brown: #734c36;
$dark: #3F3E3F;
$black: #1F1F29;
$white-smoke: #f5f5f5;
$red: #C80E00;
$red-hover: #FE1602;
$dark-grey: #939598;

/** Navigation **/
$nav-background: rgba(0,0,0,0.5);


