/**
Custom CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Playfair+Display&display=swap&family=Playfair+Display:ital@1&display=swap");
/** Page Template Default */
.page-template-default #page .container .row {
  margin-top: 8em;
}
.page-template-default #page .container .row .col-md-8 #primary .page .entry-header h1.entry-title {
  margin-top: 0;
  padding-top: 0;
}

/** New Default Template */
.page-template-new-default #page .container .row {
  margin-top: 8em;
}
.page-template-new-default #page .container .row .col-md-8 #primary .page .entry-header h1.entry-title {
  margin-top: 0;
  padding-top: 0;
}
.page-template-new-default #page .container .row .col-md-8 #primary .page .post-thumbnail img {
  width: 100%;
  height: auto;
}

/** New Default Feature Header */
#new-default-featured {
  margin-top: 3.618em;
}
#new-default-featured .entry-content {
  margin-top: 0;
}

/** Navigation **/
/** Single Post */
#blog-post-cont {
  margin-top: 5.618em;
}
#blog-post-cont .entry-header h1 {
  margin-top: 0;
}
#blog-post-cont .featured-image .post-thumbnail img {
  width: 100%;
  height: auto;
}

/** Typography */
h1, h2, h3, h4, h5, .navbar-brand {
  font-family: "Playfair Display", serif;
}

p, span {
  font-family: "Fira Sans", sans-serif;
}

p {
  font-size: 18px;
}

a:hover {
  color: #FE1602;
}

.heavy-font {
  font-weight: 900;
  color: #f5f5f5;
}

a .span.heavy-font {
  color: #f5f5f5 !important;
}

/** Menu CSS */
#food-menu {
  margin-top: 2.618em;
}
#food-menu .food-desription p {
  margin-left: 1.618em;
}
#food-menu .entree {
  margin-top: 1.618em;
}
#food-menu .food-item {
  font-size: 1.5rem;
}
#food-menu .food-desription {
  margin-left: 1.618em;
  margin-bottom: 1.618em;
}
#food-menu .house-specialties {
  margin-bottom: 1.618em;
}
#food-menu .option {
  margin-bottom: 1.618em;
}

.gform_footer input.gform_button.button {
  padding: 1em 2em;
  background-color: #C80E00;
  color: #f5f5f5;
  border-color: #C80E00;
  border-radius: 0;
  border: none;
}

/** Navigation **/
.bg-trans {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-default {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark.bg-default {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.admin-bar #page #masthead .navbar {
  margin-top: 32px;
}

.nav-link:focus-visible,
.menu-item:focus-visible {
  outline: none !important;
}

#menu-custom-menu {
  margin-left: auto;
}

.dropdown-menu .active {
  background-color: #1F1F29;
}
.dropdown-menu .current-menu-item {
  background-color: #1F1F29;
}
.dropdown-menu li a.dropdown-item:hover {
  background-color: #1F1F29;
  color: #f5f5f5;
}

@media (max-width: 767.98px) {
  .bg-default {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
}
/** Global CSS */
html {
  height: 100%;
}

a {
  color: #732c1d;
  text-decoration: none;
}

address {
  margin-top: 0;
  margin-bottom: 0;
}
address p {
  margin-bottom: 0.5rem;
}

.banner .container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.618em;
}

.entry-content {
  background-color: #f9f9f9;
  padding: 1.618em;
}

.tel-number {
  text-decoration: none;
  color: #212529;
  font-size: 1.8rem;
}

.page-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5em 0 0 0;
}

.site-main {
  margin: 8em auto 8em auto;
}

a.wp-block-latest-posts__post-title {
  font-size: 1.2rem;
}

.container .row .col-md-8 .site-main {
  margin: 0 auto 0 auto;
}

.container-fluid-no-padding.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.page-links {
  margin-top: 1.618em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-links .post-page-numbers.current {
  background-color: #C80E00;
  color: #f5f5f5;
}
.page-links .post-page-numbers {
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 0.2em;
  color: #1F1F29;
}
.page-links a {
  text-decoration: none;
}
.page-links a.post-page-numbers:hover {
  background-color: #FE1602;
  color: #f5f5f5;
}

/** Slider */
#slider-frh img {
  object-fit: cover;
  height: 400px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;
  -moz-transition-property: height, width;
  -moz-transition-duration: 1s;
  transition-property: height, width;
  transition-duration: 1s;
}

@media (min-width: 992px) {
  #slider-frh img {
    object-fit: cover;
    height: 600px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
    -moz-transition-property: height, width;
    -moz-transition-duration: 1s;
    transition-property: height, width;
    transition-duration: 1s;
  }
  .carousel-caption-cont {
    background-color: rgb(255, 255, 255);
    padding: 1.618em;
  }
  .carousel-caption-cont.carousel-caption {
    bottom: 5.125em;
  }
  .caption-row .title-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caption-row .title-col h1 {
    color: #1F1F29;
  }
  .caption-row .caption-col {
    text-align: left !important;
  }
  .caption-row .caption-col .slide-one-cap {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .caption-row .caption-col .slide-one-cap p {
    color: #1F1F29;
    font-weight: 800;
  }
  .caption-row .caption-col .slide-two-cap {
    color: #1F1F29;
    font-weight: 800;
  }
  .caption-row .caption-col .slide-three-cap {
    color: #1F1F29;
    font-weight: 800;
  }
  .caption-row .caption-col p {
    color: #1F1F29;
    font-weight: 800;
  }
}
@media (max-width: 991.99px) {
  .carousel-caption-cont {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.618em;
  }
}
/** Front Page */
.srm_gmap_heading_1 {
  text-align: center;
  margin-top: 2.618em;
}

#fp-masthead .container .row {
  align-items: center;
}

#featurettes-front-page .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-location {
  letter-spacing: 4px;
  font-size: 14px;
}

.feature-text {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.feature-desc {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.5rem;
}

/** max width */
@media (max-width: 991.98px) {
  .row-one {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767.98px) {
  #fp-cta-row {
    background-color: #f5f5f5;
  }
  #fp-cta-row .container .row {
    padding: 1.618em 1em;
  }
  #fp-cta-row .container .row .col-lg-4 {
    margin-top: 2.618em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #fp-cta-row .container .row .col-lg-4 h3 {
    text-align: center;
  }
  #fp-cta-row .container .row .col-lg-4 .post-cta {
    text-align: center;
  }
}
/** min width */
@media (min-width: 768px) {
  #fp-cta-row {
    background-color: #f5f5f5;
  }
  #fp-cta-row .container .row {
    padding: 1.618em 1em;
  }
  #fp-cta-row .container .row .col-lg-4 {
    margin-top: 2.618em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #fp-cta-row .container .row .col-lg-4 h3 {
    text-align: center;
  }
  #fp-cta-row .container .row .col-lg-4 .post-cta {
    text-align: center;
  }
}
/** Footer */
#colophon .container-fluid {
  background: #3F3E3F;
}
#colophon .container-fluid .container .row .widget-cont {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  color: #f5f5f5;
}
#colophon #site-info-cont {
  background-color: #1F1F29;
  color: #939598;
}

.social-icons {
  display: flex;
}
.social-icons i {
  font-size: 2rem;
  margin: 0.3em 0.3em 0.3em 0;
}
.social-icons a {
  color: #f5f5f5;
}
.social-icons a:hover {
  color: #f5f5f5;
}

.local-bus-container .local-bus span.lbd a {
  color: #C80E00;
  text-decoration: none;
}
.local-bus-container .local-bus span.lbd a:hover {
  color: #FE1602;
}
.local-bus-container .local-bus .lbd {
  font-size: 1.3rem;
}
.local-bus-container .local-bus .local-bus-name {
  font-size: 1.5rem;
}

/** max width */
/** min width */
@media (min-width: 992px) {
  .col-lg-8.widget-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/** Buttons */
.btn-red {
  background: #C80E00;
  color: #f5f5f5;
}

.btn.btn-red:hover {
  background: #FE1602;
  color: #f5f5f5;
}

.btn {
  border-radius: 0;
}

/** icons */
.icon-cont {
  width: 100%;
}
.icon-cont .lni {
  font-size: 4rem;
}

/** Wide Template */
.filter-wrap {
  content: "";
  /*position: absolute;*/
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#pagination-next-header {
  height: 300px;
}
#pagination-next-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
#pagination-next-header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pagination-next-header .container h1, #pagination-next-header .container p {
  color: #f5f5f5;
}
#pagination-next-header h2 {
  color: #f5f5f5;
}

.banner .container {
  position: relative;
  z-index: 10;
}
.banner .container h1, .banner .container p {
  color: #f5f5f5;
}
.banner .container .lni {
  color: #f5f5f5;
  font-size: 4rem;
}

#wide-temp-cont {
  display: flex;
  align-items: center;
  height: 100vh;
}

#section1 {
  display: flex;
  align-items: center;
}
#section1 a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
#section1 .cta-click-prompt {
  font-size: 2.5rem;
  color: #f5f5f5;
  padding-top: 0.1em;
  text-decoration: none;
}

/** Animations */
/*.hero-read-more-icon {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/
/* Animation */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: 4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/*# sourceMappingURL=supports.css.map */
