/** Footer */

#colophon {
  .container-fluid {
    background: $dark;
    .container {
      .row {
        .widget-cont {
          padding-top: 1.618em;
          padding-bottom: 1.618em;
          color: $white-smoke;
        }
      }
    }
  }
  #site-info-cont {
    background-color: $black;
    color: $dark-grey;
  }
}

.social-icons {
  display: flex;
  i {
    font-size: 2rem;
    margin: .3em .3em .3em 0;
  }
  a {
    color: $white-smoke;
  }
  a:hover {
    color: $white-smoke;
  }
}

.local-bus-container {
  .local-bus {
    span.lbd a {
      color: $red;
      text-decoration: none;
    }
    span.lbd a:hover {
      color: $red-hover;
    }
    .lbd {
      font-size: 1.3rem;
    }
    .local-bus-name {
      font-size: 1.5rem;
    }
  }
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) { }

@media (max-width: 991.98px) { }

@media (max-width: 767.98px) { }

@media (max-width: 575.98px) { }


/** min width */
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {
  .col-lg-8.widget-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }


