/** Front Page */

.srm_gmap_heading_1 {
  text-align: center;
  margin-top: 2.618em;
}

#fp-masthead {
  .container {
    .row {
      align-items: center;
    }
  }
}

#featurettes-front-page {
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.feature-location {
  letter-spacing: 4px;
  font-size: 14px;
}

.feature-text {
  background-color: $white-smoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  p {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.feature-desc {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.5rem;
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) { }

@media (max-width: 991.98px) {
  .row-one {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767.98px) {
  #fp-cta-row {
    background-color: $white-smoke;
    .container {
      .row {
        padding: 1.618em 1em;

        .col-lg-4 {
          margin-top: 2.618em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;

          h3 {
            text-align: center;
          }

          .post-cta {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) { }


/** min width */
@media (min-width: 576px) { }

@media (min-width: 768px) {
  #fp-cta-row {
    background-color: $white-smoke;

    .container {
      .row {
        padding: 1.618em 1em;

        .col-lg-4 {
          margin-top: 2.618em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;

          h3 {
            text-align: center;
          }

          .post-cta {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }


