/** Global CSS */
html {
  height: 100%;
}
a {
  color: $link;
}

.tel-number {
  text-decoration: none;
  color: #212529;
  font-size: 1.8rem;
}

.page-wrapper {
  //background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5em 0 5em 0;
}

.site-main {
  margin: 8em auto 8em auto;
}
