/** Slider */

#slider-frh {
  img {
    object-fit: cover;
    height: 400px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
    -moz-transition-property: height, width;
    -moz-transition-duration: 1s;
    transition-property: height, width;
    transition-duration: 1s;
  }
}

@media (min-width: 992px) {
  #slider-frh {
    img {
      object-fit: cover;
      height: 600px;
      -webkit-transition-property: height, width;
      -webkit-transition-duration: 1s;
      -moz-transition-property: height, width;
      -moz-transition-duration: 1s;
      transition-property: height, width;
      transition-duration: 1s;
    }
  }

  .carousel-caption-cont {
    background-color: rgba(0,0,0,0.8);
    padding: 1.618em;
    &.carousel-caption {
      bottom: 5.125em;
    }

  }

  .caption-row {
    .title-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .caption-col {
      text-align: left !important;
    }
  }
}

@media (max-width: 991.99px) {
  .carousel-caption-cont {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.618em;
  }
}
